<!DOCTYPE html>
<html>

<head>
    {{partial "head" .}}
</head>

<body>
    {{partial "header" .}}
    {{partial "banner" .}}
    {{partial "spritesheet" .}}
    <main>
        <section>
            {{if .Content}}
            {{.Content}}
            {{end}}
        </section>
        {{partial "item-list" .}}


    </main>
    <hr>
    {{partial "footer" .}}
</body>

</html>