<!DOCTYPE html>
<html>
    <head>
        {{partial "head" .}}
    </head>
    <body>
        {{partial "header" .}}
        {{partial "banner-item" .}}
        <main>
            <article>
                {{.Content}}
            </article>

            {{partial "metadata" .}}
            {{ partial "related" .}}
        </main>
        <hr>
        {{partial "footer" .}}
        {{partial "spritesheet" .}}
    </body>
</html>