<div style="width:100%;flex-direction:column;min-width:400px;width:100%;max-width:40vw;margin:1rem;">
    <a href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
    <p>{{.Date | time.Format "Jan 02 2006"}}</p>
    <audio controls preload="none" style="width:100%;">
        <source src="{{.Params.audio}}">
    </audio>
    <div class="item-tags">{{if .GetTerms "tags"}}{{ range (.GetTerms "tags")}}<a class ="item-tag" href="{{.RelPermalink}}">{{.LinkTitle}}</a>{{end}} {{end}}</div>
</div>