{{if .Params.image }}
<section id="banner" style='background-image:url({{.Site.BaseURL}}{{.Params.image}});'>
    <div id="banner-text">
        <h1>{{.Title}}</h1>
        <i>{{.Params.description}}</i>
    </div>
</section>
{{end}}