{{if .Params.banner}}
        <section id="banner" style='background-image:url({{.Site.BaseURL}}{{.Params.banner}})'>
            {{if .Params.bannerTitle}}
            <div id="banner-text">
                {{if .Params.bannerTitle}}
                <h1>{{.Params.bannerTitle}}</h1>
                {{end}}
            {{if .Params.bannerText}}
                <i>{{.Params.bannerText}}</i>
            {{end}}
            </div>
            {{end}}
        </section>
{{end}}