<title>{{ .Title}}</title>
<link rel="stylesheet" href="{{.Site.BaseURL}}/css/theme.css?d={{.Date.Unix}}">
<link rel="stylesheet" href="{{.Site.BaseURL}}/style.css?d={{.Date.Unix}}">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="title" content="{{ .Site.Title }}">
<meta name="description" content="{{.Params.description}}">
<meta name="og:site_name" content="Libre Solutions Network">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{.Params.description}}">
<meta property="og:url" content="{{.Permalink}}">
{{if .Params.video}}
<meta name="twitter:card" content="player"/>
<meta property="og:video" content="{{.Site.BaseURL}}/embed?v={{.Params.video}}">
<meta property="og:video:url" content="{{.Site.BaseURL}}/embed?v={{.Params.video}}">
<meta property="og:video:secure_url" content="{{.Site.BaseURL}}/embed?v={{.Params.video}}">
<meta property="og:type" content="video">	
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml">
{{else}}
{{if .Params.peertubeURL}}
<meta property="og:video" content="{{.Params.peertubeURL}}">
{{else}}
{{if .Params.audioURL}}
<meta property="og:audio" content="{{.Site.BaseURL}}{{.Params.audioURL}}">
<meta property="og:type" content="audio">
{{else}}<meta property="og:type" content="website">
{{end}}{{end}}{{end}}{{ if .Params.image }}
<meta property="og:image" content="{{.Site.BaseURL}}{{.Params.image}}">
{{else}}<meta property="og:image" content="{{.Site.BaseURL}}logo.webp">
{{end}}

