<header>
    <a href="{{.Site.BaseURL}}">
        <img src="{{.Site.Params.default_img}}">
    </a>
    <div>
    <h1>{{.Site.Title }}</h1>
    <i>{{.Site.Params.subtitle}}</i>
    </div>
    <nav>
        <a href="{{.Site.BaseURL}}"><h2>Home</h2></a>
        {{ range .Site.Sections}}
        <a href="{{.RelPermalink}}"><h2>{{.Title}}</h2></a>
        {{end}}
    </nav>
    <div>
        <a href="{{.Site.BaseURL}}/index.xml">
            <svg class="icon">
                <use href="#rss"></use>
            </svg>
        </a>
    </div>
</header>
