<section class="listing" {{if .Params.image}} style="background-image:url({{.Site.BaseURL}}{{.Params.image}}" {{end}}>

    
    <div class="listing-text">
    <a href="{{.Permalink}}"  ><h2>{{.Title}}</h2><i>{{.Params.description}}</i></a>
    
    <span></span>
    </div>
</section>