<div class="list-item">
        <a href="{{.Permalink}}"><h2>{{.Title}}</h2></a>
        {{if .Params.audio}}
        {{partial "item-audio" .}}
        {{end}}
        {{$author := index .Site.Data.details.staff (.Params.author | default "default")}}
        <p>{{if .Date }}{{.Date | time.Format "Jan 02 2006"}}{{end}} {{$author.name}} </p>
        <p>{{.Params.description}}</p>
        <div class="item-tags">{{if .GetTerms "tags"}}{{ range (.GetTerms "tags")}}<a class ="item-tag" href="{{.RelPermalink}}">{{.LinkTitle}}</a>{{end}} {{end}}</div>
</div>