<section class="metadata" id="metadata" style="display:flex;flex-direction:column;flex-wrap:nowrap">
    {{$author := index .Site.Data.details.staff (.Params.author | default "default")}}
    <div style="flex-direction: row;align-items: flex-end;">
        <div>
            <a href="{{$author.url}}">
                <img src="{{$author.image}}" style="max-width:64px;border-radius:64px;">
            </a>
            <h2>{{$author.name}}</h2>
        </div>
        <div style="justify-content: space-between;">
            <strong>Support</strong> {{ if $author.donate}}
            <a href="{{$author.donate}}">Donate</a> {{end}} {{ if $author.bitcoin}}
            <a href="bitcoin:{{$author.bitcoin}}?label=Gabriel">Bitcoin</a> {{end}} {{ if $author.monero}}
            <a href="monero:{{$author.monero}}">Monero</a> {{end}}
        </div>
        <p>
            {{if .Date }}<strong>Published:</strong> <a href="{{.Permalink}}">{{.Date | time.Format "Jan 02 2006"}}</a> {{end}} {{if .Params.updated}}
            <br><strong>Updated:</strong> {{.Params.updated | time.Format "Jan 02 2006"}} {{end}} {{if .GetTerms "tags"}}<br>
            <strong>Tags:</strong> {{ range (.GetTerms "tags")}}
            <a href="{{.Permalink}}" class="tag">{{.LinkTitle}}</a> {{end}} {{end}}
        </p>
    </div>
</section>