<!DOCTYPE html>
<html>
    <head>
        {{partial "head" .}}
        <title>404: Not Found</title>
    </head>
    <body>
        {{partial "header" .}}
        {{partial "banner-item" .}}
        <main>
            <article>
                <h1>Error 404</h1>
                <p>Unfortunately this isn't a real page (yet?).<br>
                If you believe this is a mistake please <a href="mailto:contact@libresolutions.network?subject=RE:%20404">get in touch</a>.</p>
                <p>A search function is in the works...</p>
                <p>Please consider <a href="/about/#supporting-this-work">Supporting this work</a></p>
            </article>
        </main>
        <hr>
        {{partial "footer" .}}
        {{partial "spritesheet" .}}
    </body>
</html>