<!DOCTYPE html>
<html>

<head>
    {{partial "head" .}}
</head>

<body>
    {{partial "header" .}}
    {{partial "banner" .}}
    <main>
        {{.Content}}
    </main>
    {{ partial "footer" .}}
    {{partial "spritesheet" .}}
</body>

</html>